* {margin:0; padding:0;}

html{height: 100%;}

body {
  background: url('http://cdn.wonderfulengineering.com/wp-content/uploads/2014/10/wood-wallpaper-41-610x429.jpg') center no-repeat;
  background-size: cover;
}

#body {
  height: 100%;
  margin: 5% 15%;
  padding: 3%;
  border-radius: 20px;
  position: relative;
  color: #eee;
}

.fa-quote-left {
  font-size: calc(8px + 2vw);
  position: absolute;
  visibility: hidden;
}

#iniQ {
  left: -5%;
  top: 5%;
}

#finQ {
  right: -5%;
  bottom: 1em;
  transform: rotate(180deg);
}

h1 {
  text-align: center;
  font-size: calc(12px + 4vw);
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
  margin-bottom: 2%;
}

hr {
  width: 65%;
  height: 1px;
  background: #eee;
  box-shadow: 0 0 1px 0.2px;
  border-radius: 40%;
  border: 0;
  margin: auto;
}

#clear {height: 8px; clear:both;}

#container {
  margin: auto;
  padding: 2% 4%;
  border-radius: 5px;
  height: auto;
  width: 80%;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: calc(10px + 1.5vw);
  position: relative;
}

#author {
  float: clear;
  text-align:right;
  font-weight: 600;
  margin-top: 0.5em;
  font-style: italic;
}

#b{
  position: relative;
  min-height: 20px;
  margin-bottom: 1%;
}

.btn {margin-top: 10px;}

#generator {
  text-align: center;
  position: absolute;
  cursor: pointer;
  background: linear-gradient(120deg, #00aced 10%, #098bbc 80%);
  border-radius: 3px;
  font-family: 'Fredericka the Great', cursive;
  font-size: calc(8px + 1vw);
  right: 5%;
  border: 2px ridge #098bbc;
  background: rgba(8, 154, 209, 0.8);
  padding: 6px;
}

#twitter {
  padding: 7px;
  background: linear-gradient(120deg, #00aced 10%, #098bbc 80%);
  border-radius: 3px;
  color: #eee;
  position: absolute;
  left: 10%;
}

.footer {
  text-align: center;
  margin-top: 8%;  
	font-family: 'Shadows Into Light Two';
	font-size: calc(8px + 1vw);
}
.footer a {color: #eee;}